<section>
<div class="container">
 <table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
             <th scope="col">Price</th>
            <th scope="col">Quantity</th>
           
           
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
           
            <td><img style="width: 70px ;height:70px" src="/product-images/{{this.product._id}}.jpg" alt="" ></td>
            <td>{{this.product.Brand}}</td>
            <td>{{this.product.Model}}</td>
            <td>₹{{this.product.Price}}</td>
            <td>
                <button class="cart-item-count mr-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',-1)">-</button>
                <span id="{{this.product._id}}">{{this.quantity}}</span>
                <button class="cart-item-count ml-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',1)">+</button>
            </td>
            
            <td>
                <button class="cart-item-count ml-3 btn btn-danger" onclick="removeCartProduct('{{this._id}}','{{this.product._id}}'),confirm('Are you want to delete{{this.product.Name}}?')">Remove</button>
            </td>
        </tr>
        {{/each}}
    
    </tbody>
 </table>
 <hr>
    <div class="float-right pr-5">
        <h3 class="float-right mr-5 ">Total : ₹<span id="total">{{totalValue}}</span></h3>
    <a href="/place-order" class="btn btn-success mr-4 mt-5" style="width:90%;"><b>Place Order</b></a>
    </div>
</div>
</section>
<script>
    function changeQuantity(cartId,proId,userId,count){
        let quantity=parseInt(document.getElementById(proId).innerHTML)
        count=parseInt(count)
        $.ajax({
            url:'/change-product-quantity',
            data:{
                user:userId,
                cart:cartId,
                product:proId,
                count:count,
                quantity:quantity
            
            },
            method:'post',
            success:(response)=>{
                if(response.removeProduct){
                    alert("product removed from the cart")
                    location.reload()
                }else{
                    console.log(response)
                    document.getElementById(proId).innerHTML=quantity+count
                    document.getElementById('total').innerHTML=response.total
                }
                
            }
        })
    }
</script>
<script>
    function removeCartProduct(cartId,proId){
        
        $.ajax({
            url:'/remove-product',
            data:{
                cart:cartId,
                product:proId,
                
            },
            method:'post',
            success:(response)=>{
                if(response.removeCartProduct){
                alert("product removed from the cart")
                location.reload()
                }

            }

        })
    }
</script>